<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to todos_path do %><i class="fa fa-eye"></i>&nbsp; View list<% end %></li>
  <li class="active"><%= link_to new_todo_path do %><i class="fa fa-plus"></i>&nbsp; New todo<% end %></li>
</ul>

<h1><i class='fa fa-plus'></i>&nbsp; New todo</h1>

<%= render 'form' %>

<%= link_to todos_path, class: 'btn btn-info' do %>
<i class="fa fa-reply"></i>&nbsp; Back
<% end %>